@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --color-cadillac: #ad556e;
  --color-carousel-pink: #fae3e9;
  --color-cherub: #fae0e7;
  --color-cosmic: #713748;
  /* --color-deep-blush: #e77193; */
  --color-deep-blush: #ff0000;
  --color-ecstasy: #fb8214;
  --color-foam: #d4effb;
  --color-gallery: #eeeeee;
  --color-mine-shaft: #333333;
  --color-tory-blue: #144892;
  --color-white: #ffffff;

  --nav-dropdown-transition-time: 0.333s;
  --pill-radius: 999px;
  --section-y-padding: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-mine-shaft);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}

section {
  padding: var(--section-y-padding) 5vw; /* TODO */
}

img {
  display: block;
}

button {
  cursor: pointer;
  display: block;
  font-size: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.btn-contact {
  background-color: var(--color-ecstasy);
}

.theme-color-text {
  color: var(--color-deep-blush);
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}

.header {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-top div {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.header-logo {
  width: 100px;
}

.header-btn {
  align-items: center;
  border-radius: 0.5rem;
  color: var(--color-white);
  display: flex;
  gap: 0.25rem;
  height: 2.5rem;
  overflow: hidden;
}

.header-btn svg {
  aspect-ratio: 1;
  color: var(--color-white) !important;
  width: 1.5rem;
}

.header-btn img {
  height: 100%;
  width: auto;
}

#header-phone-banner {
  overflow: visible;
}

#header-phone-banner img {
  height: 75%;
}

#header-contact-btn {
  display: none;
  padding: 0 0.5rem;
}

#nav-dropdown-btn {
  background: none;
  border: none;
  color: var(--color-deep-blush);
}

#nav-dropdown-btn svg {
  aspect-ratio: 1;
  display: block;
  width: 3rem;
}

.header-nav {
  background-color: var(--color-cherub);
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
  color: var(--color-cosmic);
  font-size: 1.125rem;
  position: absolute;
  -webkit-transition: -webkit-clip-path var(--nav-dropdown-transition-time);
  transition: -webkit-clip-path var(--nav-dropdown-transition-time);
  -o-transition: clip-path var(--nav-dropdown-transition-time);
  transition: clip-path var(--nav-dropdown-transition-time);
  transition: clip-path var(--nav-dropdown-transition-time),
    -webkit-clip-path var(--nav-dropdown-transition-time);
  width: 100%;
}

.header-nav.show {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.header-nav ul {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.header-nav li {
  cursor: pointer;
}

.header-nav a {
  display: block;
  font-size: inherit;
  padding: 1rem 0;
  text-align: center;
}

.header-nav li:hover {
  background-color: var(--color-gallery);
}

@media only screen and (min-width: 768px) {
  .header-logo {
    width: 120px;
  }

  #header-contact-btn {
    display: flex !important;
  }

  #nav-dropdown-btn {
    display: none;
  }

  .header-nav {
    background-color: transparent;
    -webkit-clip-path: unset;
            clip-path: unset;
    color: var(--color-mine-shaft);
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    padding: 0 1rem;
    position: unset;
  }

  .header-nav ul {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  
  .header-nav li {
    border-bottom: 4px solid transparent;
    padding: 0 1rem;
  }

  .header-nav li:hover {
    color: var(--color-deep-blush);
    background-color: unset;
    border-bottom: 4px solid var(--color-deep-blush);
  }
  
}

@media only screen and (min-width: 1024px) {
  .header-logo {
    width: 150px;
  }

  .header-nav {
    font-size: inherit;
  }
}

.hero-section {
  background-color: var(--color-foam);
  padding: 0;
  position: relative;
}

.hero-img {
  object-fit: contain;
  width: 100%;
}

#hero-logo-floating {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: 80%;
}

#hero-logo-floating img {
  animation: floating infinite 2s ease-in-out;
  display: block;
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10%); }
  100% { transform: translateY(0); }
}

.notifications {
  background-color: var(--color-white);
  /* border-radius: 1rem; */
  margin: auto;
  padding: 1rem;
}

.notifications ul {
  color: var(--color-tory-blue);
  display: flex;
  flex-direction: column;
  font-size: 1.125em;
  gap: 0.5rem;
  list-style-position: inside;
}

.notifications li::marker {
  color: var(--color-deep-blush);
}

.notifications li:hover {
  color: var(--color-deep-blush);
}

@media only screen and (min-width: 768px) {
  #hero-logo-floating {
    left: unset;
    transform: unset;
    width: 30%;
  }
}

section.intro {
  background-image: url(assets/images/sky-background.jpg);
  background-position: center;
  background-size: cover;
}

.intro-content {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.intro-content p {
  margin: 1rem 0;
}

.intro-content img {
  border-radius: 50%;
  margin: auto;
  width: 75%
}

@media only screen and (min-width: 1024px) {
  .intro-content {
    flex-direction: row-reverse;
  }

  .intro-content img {
    width: 33.333%;
  }
}

section.checklist {
  background-color: var(--color-carousel-pink);
  position: relative;
  padding-bottom: 0;
}

.checklist-content {
  display: flex;
  flex-direction: column;
}

.checklist-content ul {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: max-content;
}

.checklist-content li {
  align-items: center;
  border-bottom: 2px dashed var(--color-mine-shaft);
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.checklist-content li::before {
  aspect-ratio: 1;
  content: url(assets/images/icons/checkbox-icon.svg);
  display: inline-block;
  width: 1.5rem;
}

.checklist-content > img {
  bottom: 0;
  margin: 1rem auto auto;
  width: 180px;
}

@media only screen and (min-width: 768px) {
  section.checklist {
    padding-bottom: var(--section-y-padding);
  }

  .checklist-content {
    flex-direction: row;
  }

  .checklist-content > img {
    margin: auto;
    transform: translateY(var(--section-y-padding));
    width: 200px;
  }
}

section.service-features {
  background-color: var(--color-deep-blush);
}

section.service-features .section-heading {
  color: var(--color-white);
}

.service-features-content {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: auto;
}

.service-feature-card {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 var(--color-cadillac);
  color: var(--color-cadillac);
  display: block;
  padding: 1.5rem;
  transition: 0.1s ease-in-out;
  width: 100%;
}

.service-feature-card:hover {
  box-shadow: none;
  transform: translateY(0.5rem);
}

.service-feature-card h3 {
  border-bottom: 1px solid color-mix(
    in srgb,
    var(--color-deep-blush) 50%,
    transparent
  );
  margin-bottom: 0.5rem;
  text-align: center;
}

.service-feature-card-content {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.service-feature-card-content > img {
  aspect-ratio: 1;
  width: 3.5rem;
}

@media only screen and (min-width: 768px) {
  .service-feature-card {
    width: 48%;
  }
}

section.service-introduction {
  background: url(assets/images/pink-textured-background.jpg);
  background-position: center;
  background-size: cover;
}

section.service-introduction .section-content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.service-introduction .content-card {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

section.service-introduction .content-card > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

section.service-introduction .content-card h3 {
  border-bottom: 3px solid var(--color-deep-blush);
  font-size: 1.25rem;
  text-align: center;
}

section.service-introduction .content-card button {
  align-items: center;
  background-color: var(--color-deep-blush);
  border: none;
  border-radius: var(--pill-radius);
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin: auto;
  padding: 0.5rem 1rem;
  width: fit-content;
}

section.service-introduction .content-card button::after {
  content: url(assets/images/icons/right-arrow-icon.svg);
  line-height: 0;
}

section.service-introduction .content-card img {
  border-radius: 0.5rem;
}

@media only screen and (min-width: 768px) {
  section.service-introduction .content-card {
    flex-direction: row;
  }
}